img {
    max-width: 25rem;
}

.product-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-decoration: none;
}

.product {
    display: block;
    text-align: center;
}

Link {
    text-decoration: none;
}

.product-link {
    text-decoration: none;
    color: black;
}

.product-link:hover {
    text-decoration: underline;
}